// Preload stuff
sv_pure -1

// Load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// Run a user script file if present
exec autoexec.cfg

// Stuff command line statements
stuffcmds

// Display the startup level
startupmenu
sv_unlockedchapters 99

// Apply HUD settings
vgui_cache_res_files 0
tf_contract_progress_show 2
cl_hud_minmode 0
alias cl_hud_minmode "echo NOT IMPLEMENTED. THIS IS NOT AN ERROR."

// Configs
echo insomniaHUD: Applying aliases...
exec ih_aliases
exec ih_version

// Resize dashboard dimmer
echo insomniaHUD: Resizing dashboard dimmer...; wait 20; showconsole; wait 10; toggle mat_aaquality; hideconsole;

// Setup
alias "ih_setup" "exec ih_setup"
exec ih_setup_complete.txt
ih_setup